body {
	font-family: 'Droid Sans', sans-serif;
}

h2 {
	padding-top: 1.25em;
}

h3 {
	color: DarkRed !important;
}

.navbar-default {
	background-color: #F8F8F8;
	border-color: #FFFFFF;

}


.social > ul > li {
	margin: 5px;
	list-style: none;
	display: inline-block;
}

.social i {
	width: 42px;
	height: 42px;
	color: #FFF;
	/*background-color: #909AA0;*/
	font-size: 22px;
	text-align:center;
	padding-top: 12px;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	-o-border-radius: 50%;
	transition: all ease 0.7s;
	-moz-transition: all ease 0.7s;
	-webkit-transition: all ease 0.7s;
	-o-transition: all ease 0.7s;
	-ms-transition: all ease 0.7s;
}

 
 #map {
	height: 400px;
 }

 
 ul.nav {
	 min-height:66px !important
 }
 
#committee ul
{
	list-style-type: none;
}
 
 .active {
	 color: #D00000 !important; 
 }
 
 ul.nav a:hover { 
	background-color: #fff !important; 
}

.navbar-nav > li > a {
	min-height:66px !important;
	display: table-cell;
	text-align: bottom;
}

.navbar {
	min-height:66px !important;
}

/* the top section of the footer */
.footer-pre {
	background: #000;
	color: #fff;
}
.footer-pre .about {
	margin: 1em 0.5em 1em 2em;
	font-size: 12px;
	text-align: left;
}
.footer-pre .committee {
	margin-top: 1em;
}
.footer-pre .committee h2 {
	text-align: left;
	margin-left: 1em;
}
.footer-pre ul li {
	list-style-type: none;
	font-size: 13px;
}

/* the footer */
.footer{
	 background-color:#000;
}

 .fa-facebook:hover {
	 background-color: #3B5998;
 }
 
 .fa-twitter:hover {
	 background-color: #4099FF;
 }
 
 .fa-youtube:hover {
	 background-color: #d34836;
 }
 
 .fa-slack:hover {
	 background-color: #3aaf85;
 }
 
 .fa-envelope:hover {
	 background-color: #FFC502;
 }
 
 .img-center {
	display: block;
	margin-left: auto;
	margin-right: auto;
 }
 
 #copyright{
	 color: #fff;
	 font-variant: small-caps;
	 
 }
 
 #copyright:hover{
	  font-weight: bold;
 }
